@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", "Sans-serif";
  background-color: #d3d3d3;
}
#Main-container {
  margin: 0 10%;
}
#header {
  height: 80px;
  text-align: center;
}
.container {
  margin: 6% -6px;
  background-color: whitesmoke;
  padding: 30px;
}
.Nav {
  position: absolute;
  right: 10%;
  left: 10%;
  background-color: teal;
}

.Nav .Nav-items {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.Nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.Nav a {
  text-decoration: none;
  color: whitesmoke;
  padding: 15px 15px;
}

li a:hover {
  background-color: chocolate;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-decoration: none;
  color: red;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
  transition: all 0.3s;
}
.lock:hover .icon-lock {
  display: inline;
  transition: all 0.3s;
}
